# Compiled output
out/

# Java class files
*.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Database / sensitive
*.db
*.sqlite
*.ora

# Environment / secrets
.env
config.local.bat
users.txt

# Temporary files
*.tmp

# BlueJ files (optional)
*.ctxt

# Mobile Tools for Java
.mtj.tmp/

# JVM crash logs
hs_err_pid*
replay_pid*
